@import "miniprogram/styles/index";

.home {
  margin-top: 130rpx;
  background-color: $bg-black;

  &-scroll-view {
    height: calc(100vh - 220rpx);
    margin-top: 20rpx;
    overflow-anchor: none;
  }
}
