@import "miniprogram/styles/index";

.songlist {
  width: 100%;
  height: 100%;
  gap: 20rpx;

  .songlist-item {
    @include wh(48%, 420rpx);
    border-radius: 20rpx;
    font-weight: bold;

    &__img {
      @include wh(100%, 322rpx);
      border-radius: 20rpx;
    }

    &__icon {
      position: absolute;
      right: 3%;
      top: 60%;
      @include wh(54rpx, 54rpx);
      font-size: 42rpx;
      text-align: center;
      border-radius: 50%;
    }
  }
}
