@import "miniprogram/styles/index";

.collect-songs {
  height: calc(100vh - 46px - env(safe-area-inset-top));

  .collect-songs__play-btn {
    font-weight: bold;
    border: none;
    background: $yellow-1;
    color: $black-1;
  }
}
