@import "miniprogram/styles/index";

.nav-title {
  font-size: 70rpx;
  padding: 0 28rpx 20rpx;

  &__dot {
    @include wh(18rpx, 18rpx);
    border-radius: 50%;
    background-color: #959292;
    transition: width 0.5s ease-in-out;
    margin-right: 8rpx;
    &--active {
      @include wh(36rpx, 18rpx);
      border-radius: 20rpx;
      background-color: $white-1;
      margin-right: 8rpx;
    }
  }
}
