@import "miniprogram/styles/index";

.search {
  @include wh(auto, 66rpx);
  border-radius: 30rpx;
  color: $font-white;
  caret-color: $primary-yellow;
  background-color: $primary-black;
  margin: 0 auto;
  padding-left: 74rpx;
}
