@import "miniprogram/styles/index";

.song {
  @include wh(auto, 140rpx);
  padding-bottom: 40rpx;

  &__img {
    flex-shrink: 0;
    margin-right: 40rpx;
  }

  &-name {
    width: 420rpx;
    flex-grow: 0;
    font-size: 38rpx;
    font-weight: bold;
  }
  &-singer {
    width: 420rpx;
    font-size: 32rpx;
  }

  &__icon {
    font-size: 44rpx !important;
  }

  .sound-wave {
    @include wh(44rpx, 70rpx);

    @for $i from 1 through 4 {
      .wave#{$i} {
        width: 25%;
        margin-right: 2rpx;
        background: $white-1;
        animation: sequence#{$i} 1s ease-in-out infinite;
        animation-delay: #{0.2 * ($i)}s;
        will-change: "height";
      }
    }

    @for $i from 1 through 4 {
      @keyframes sequence#{$i} {
        0% {
          height: 10%;
        }
        50% {
          height: 80%;
        }
        100% {
          height: 0%;
        }
      }
    }

    .run {
      animation-play-state: running;
    }
    .paused {
      animation-play-state: paused;
    }
  }
}
