@import "styles/index";

.hover-class {
  background-color: rgba(149, 146, 146, 0.1);
}

.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}

.bg-black-1 {
  background-color: $black-1;
}
.bg-black-2 {
  background-color: $black-2;
}
.bg-white-1 {
  background-color: $white-1;
}
.bg-grey-1 {
  background-color: $grey-1;
}
.bg-grey-2 {
  background-color: $grey-2;
}
.bg-yellow-1 {
  background-color: $yellow-1;
}
.bg-red-1 {
  background-color: $red-1;
}
.text-black-1 {
  color: $black-1;
}
.text-black-2 {
  color: $black-2;
}
.text-white-1 {
  color: $white-1;
}
.text-grey-1 {
  color: $grey-1;
}
.text-grey-2 {
  color: $grey-2;
}
.text-yellow-1 {
  color: $yellow-1;
}
.text-red-1 {
  color: $red-1;
}
.caret-yellow-1 {
  color: $yellow-1;
}

.opacity-0 {
  opacity: 0;
}
.opacity-1 {
  opacity: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  display: none !important;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

.content-start {
  align-content: start;
}
.content-center {
  align-content: center;
}
.content-end {
  align-content: flex-end;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}

.item-start {
  align-items: flex-start;
}
.item-center {
  align-items: center;
}
.item-end {
  align-items: flex-end;
}
.items-stretch {
  align-items: stretch;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}

.box-border {
  box-sizing: border-box;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}

.font-bold {
  font-weight: bold;
}

.align-middle {
  vertical-align: middle;
}
