@import "miniprogram/styles/index";

.recommend {
  @include wh(auto, 140rpx);
  border-radius: 60rpx;
  margin: 50rpx auto 0;

  &__img {
    @include wh(180rpx, 100%);
    position: absolute;
    bottom: 0;
    &-1 {
      left: 0%;
    }
    &-2 {
      height: 120%;
      left: 20%;
      z-index: 999;
    }
    &-3 {
      left: 40%;
    }
  }
}
