@import "miniprogram/styles/index";

.collect-playlist {
  height: var(--safe-top);

  .collect-playlist__play-btn {
    font-weight: bold;
    border: none;
    background: $yellow-1;
    color: $black-1;
  }
}
