@import "miniprogram/styles/index";

.new-album {
  @include wh(100%, 100%);
  gap: 30rpx;
  margin-bottom: 40rpx;

  &-name {
    font-size: 38rpx;
    font-weight: bold;
  }
  &-artist {
    font-size: 32rpx;
  }
  .new-album__btn {
    font-weight: bold;
    border: none;
    background: $yellow-1;
    color: $black-1;
  }
}
