@import "miniprogram/styles/index";

.playlist-page {
  height: calc(100vh - 66px - env(safe-area-inset-bottom));
  overflow-anchor: none;

  .playlist-page__btn {
    font-weight: bold;
    border: none;
    margin: 0 20rpx 20rpx 0;
    background: $yellow-1;
    color: $black-1;
  }
  .playlist-page__play-btn {
    @extend .playlist-page__btn;
    margin: 0;
  }
}
