@import "miniprogram/styles/index";

.playlist-page {
  &__scroll-view {
    height: 100%;
    overflow-anchor: none;
  }

  &__desc {
    font-size: 42rpx;
    font-weight: bold;
    flex: 0.9;
  }

  .playlist-page__btn {
    font-weight: bold;
    border: none;
    margin: 0 20rpx 20rpx 0;
    background: $yellow-1;
    color: $black-1;
  }
  .playlist-page__play-btn {
    @extend .playlist-page__btn;
    margin: 0;
  }
}
